// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// consts
$BLACK: #333333;
$GREY-LIGHT:#C4C4C4;
$GREY-DARK:#828282;
$GREY-6: #F2F2F2;

// general style
.container{
    max-width: 1415px;
    padding: 0 15px;
    margin: 0 auto;
}